{% extends ParentTmpl %}
{% block content %}
<div id="container">
	<div id="content">
	{%if archive%}<h1>Archive</h1>{%endif%}
		{% for article in articles %}
			<div id="post-{{ article.idP }}" class="post hentry category-uncategorized tag-2 tag-green-park tag-greenpark tag-list tag-theme tag-todo tag-todolist tag-two tag-wordpress">
				<h2><a href="{{ article.link }}" rel="bookmark" title="{{ article.title }}">{{ article.title }}</a></h2>
				<small class="meta">
					<span class="alignleft">{{ article.date|date:"D d M Y" }} par {{ article.author }}</span>
					<span class="alignright"><a href="{{article.link}}#comments" class="button-style" rel="nofollow"> {% ifequal article.comments.count 0%}Pas de commentaire{%else%} {{article.comments.count}} commentaire{{article.comments.count|pluralize}}{%endifequal%} &#187;</a></span>
        		</small>
				<div class="entry">
				{% spaceless %}
					{{article.resume}}
				{% endspaceless %}
				</div>
				<div class="postmetadata clearfix">
		          <p class="commentslink alignright">
		            <a href="{{article.link}}#comments" rel="nofollow"> {% ifequal article.comments.count 0%}Pas de commentaire{%else%} {{article.comments.count}} commentaire{{article.comments.count|pluralize}}{%endifequal%} &#187;</a>  
		          </p>
					<p class="categories">Publié dans la categorie : {{article.category}}</p>
		  			<p class="tags">Tags: {{article.tagsURL}}</p>
		        </div>
			</div>
		{% endfor %}
		<div class="pagination navigation clearfix">
  		  <div class="alignleft">{% ifequal nbArticles 10 %}<a href="{% if archive %}{{urlArchive}}{%endif%}/page/{{nxtPage}}">Articles plus vieux</a>{% endifequal %}</div>
	      <div class="alignright">{% ifnotequal page 1 %}<a href="{% if archive %}{{urlArchive}}{%endif%}/{% ifnotequal prvPage 1 %}page/{{prvPage}}{%endifnotequal%}">Articles plus récent</a>{% endifnotequal %}</div>
		</div>
	</div><!-- #content -->
</div><!-- #container -->
{% endblock %}