{% extends ParentTmpl %}
{% block content %}
<div id="container">
	<div id="content">
	{%if archive%}<h1 class="pagetitle">Archive {{title}}</h1>{%endif%}
	{%if articles %}
		{% for article in articles %}
			<div id="post-{{ article.idP }}" class="post hentry category-uncategorized tag-2 tag-green-park tag-greenpark tag-list tag-theme tag-todo tag-todolist tag-two tag-wordpress">
				<h2><a href="{{ article.link }}" rel="bookmark" title="{{ article.title }}">{{ article.title }}</a></h2>
				<small class="meta">
					<span class="alignleft">{{ article.date|timesince}} par {{ article.author }}</span>
					<span class="alignright"><a href="{{article.link}}#comments" title="{{ article.title }}" class="button-style" rel="nofollow"> {% ifequal article.comments.count 0%}Pas de commentaire{%else%} {{article.comments.count}} commentaire{{article.comments.count|pluralize}}{%endifequal%} &#187;</a></span>
        		</small>
				<div class="entry">
				{% spaceless %}
					{{article.resume|linebreaksbr}}
				{% endspaceless %}
				</div>
				<div class="postmetadata clearfix">
		          <p class="commentslink alignright">
		            <a href="{{article.link}}#comments" rel="nofollow" title="{{ article.title }}"> {% ifequal article.comments.count 0%}Pas de commentaire{%else%} {{article.comments.count}} commentaire{{article.comments.count|pluralize}}{%endifequal%} &#187;</a>  
		          </p>
					<p class="categories">Publié dans la categorie : {{article.category}}</p>
		  			<p class="tags">Tags: {{article.tagsURL}}</p>
		        </div>
			</div>
		{% endfor %}
		{%else%}

			<div  class="post hentry category-uncategorized tag-2 tag-green-park tag-greenpark tag-list tag-theme tag-todo tag-todolist tag-two tag-wordpress">
				<h2><a href="#" rel="bookmark" title="pas d'article trouvé">Aucun article trouvé</a></h2>
				<div class="entry">Aucun article n'a été trouvé dans la base de données, pour importer vos articles, uploadez un export de votre blog wordpress au format XML (par défaut), ou par XML-RPC en accédant à la partie <a href="/admin/">administration</a>.</div>
			</div>

		{%endif%}
		<div class="pagination navigation clearfix">
  		  <div class="alignleft">{% ifequal nbArticles 10 %}<a href="{% if archive %}{{urlArchive}}{%endif%}/page/{{nxtPage}}">Articles plus vieux</a>{% endifequal %}</div>
	      <div class="alignright">{% ifnotequal page 1 %}<a href="{% if archive %}{{urlArchive}}{%endif%}{% ifnotequal prvPage 1 %}/page/{{prvPage}}{%endifnotequal%}">Articles plus récent</a>{% endifnotequal %}</div>
		</div>
	</div><!-- #content -->
</div><!-- #container -->
{% endblock %}