<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="X-UA-Compatible" content="IE=8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>{{blog_name}}</title>

<link rel="stylesheet" href="/style.css" type="text/css" media="all" />
<link rel="stylesheet" href="/img/sourceCode.css" type="text/css" media="all" />
<!--[if IE 6]>
<link rel="stylesheet" href="/ie6.css" type="text/css" />
<![endif]-->

<meta name="robots" content="index,follow" />
<link rel="alternate" type="application/rss+xml" title="{{blog_name}} RSS Feed" href="{{blog_feed}}" />
<link rel="alternate" type="application/atom+xml" title="{{blog_name}} Atom Feed" href="{{blog_feed}}" />
<link rel="pingback" href="pingbackUrl" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

</head>

<body id="home">
<div id="accessibility">
	<ul>
		<li><a href="/" title="Accueil">Accueil</a></li>
		<li><a href="#content" title="Skip to content">Aller au contenu</a></li>
		<li class="last-item"><a href="{{blog_feed}}">RSS</a></li>
	</ul>
</div>
<div id="header">
	<div id="branding">
		{% if home %}
      <h1 id="logo"><a href="/" title="{{blog_name}}">{{blog_name}}</a></h1>
    	{% else %}
      <h4 id="logo"><a href="/" title="{{blog_name}}">{{blog_name}}</a></h4>
    	{% endif %}
		<div class="description">
		  {{blog_descr}}
 	   </div>
	</div>
	
	<div id="nav">
		<div id="nav-search">
			<form action="http://www.google.fr/cse" id="cse-search-box" target="_blank">
			    <input type="hidden" name="cx" value="partner-pub-2453885831343505:9kuqtw-mr0j">
			    <input type="hidden" name="ie" value="ISO-8859-1">
			    <input type="text" name="q" size="18" style="background-image: url(http://www.google.fr/cse/intl/fr/images/google_custom_search_watermark.gif); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 255, 255); background-position: 0% 50%; background-repeat: no-repeat no-repeat; ">
			    <input type="submit" name="sa" id="searchsubmit" value="Rechercher">
				<input name="siteurl" type="hidden" value="blog.gaetan-grigis.eu/">
			</form>
			<script type="text/javascript" src="http://www.google.fr/coop/cse/brand?form=cse-search-box&amp;lang=fr"></script>
		</div>
		<ul id="menu">
  		<li class="page-item-home current_page_item"><a href="/">Accueil</a></li>
		</ul>
	    <div id="submenu-bg"></div>
	    <div id="nav_l"></div>
	    <div id="nav_r"></div>
	</div>
</div>
<div id="main" class="clearfix">
<!-- Fin HEADER -->	
	{% block content %}{% endblock %}
<div id="sidebar">
	<ul class="sb-list clearfix">
		<li>
			<ul class="sb-tools clearfix">
				<li class="twitter-icon">
		    	<a class="sb-icon" href="http://twitter.com/loupzeur" rel="nofollow">
		    		<span>Dernier tweet</span>	
		    		Les kikoolols attaquent
		      </a>
		    	<p class="sb-icon-text">
		        <a href="http://twitter.com/loupzeur" rel="nofollow">Follow Me</a>.
		      </p>
				</li>
			</ul>
		</li>
		<li>
			<ul class="sb-tools clearfix">
				<li class="rss-icon">
					<a class="sb-icon" href="{{blog_feed}}" title="le fil RSS">
						<span>Abonnez-vous</span>Suivez le fil
					</a>
				</li>
			</ul>
		</li>


<!-- Si un seul article -->
{% if single %}
<li>
	<ul class="sb-tools clearfix">
		{% if prevArticle %}<li class="previous-post"><a href="{{prevArticle.link}}" rel="prev"><span>Article précédent</span> {{prevArticle.title}}</a></li>{%endif%}
		{% if nextArticle %}<li class="next-post"><a href="{{nextArticle.link}}" rel="next"><span>Article suivant</span> {{nextArticle.title}}</a></li>{%endif%}
	</ul>	
</li>
{% endif %}

<li id="about" class="clearfix">
	<div class="sb-title">A propos</div>
	<ul>
  		<li>{{blog_about}}</li>
	</ul>
</li>

<li class="archives">
   <div class="sb-title">Les derniers articles</div>
	<ul>
	{%for article in archives%}
	  <li><a href="{{article.link}}" title="{{article.title}}">{{article.title}}</a></li>
	{%endfor%}
	</ul>
</li>
{% if test %}<!-- Je sais pas a quoi ça sert ... -->
	<li class="currently-viewing">
		page en cours de visite
	</li>
{% endif %}
</ul>

<ul class="group">
  	<li class="archives">
      <div class="sb-title">les Categories</div>
  		<ul>
  		  <li>&nbsp;</li>
  		</ul>
  	</li>
</ul>

</div> <!-- #sidebar -->

</div> <!-- #main -->

<div id="footer" class="clearfix">
<p class="alignright">
  <a href="#home" class="top-link">Retour en haut</a>
</p>

<p>
	&copy; {{blog_name}}
  &middot; Fièrement propulsé par Google AppEngine
	<span class="amp">&amp;</span>
  <a href="http://cordobo.com/green-park-2/" title="Cordobo Green Park 2 Beta 6 Theme">Green Park 2</a>
  par
  <a href="http://cordobo.com/" title="Webdesign Mannheim">Cordobo</a>.
</p>

<p class="signet">
  Valid XHTML 1.0 Transitional | Valid CSS 3
  <br /><br />
	<img src="/img/logo-cgp2.png" alt="Cordobo Green Park 2 logo" title="Cordobo Green Park 2" width="75" height="12" />
</p>

</div>
</body>
</html>
