{% extends ParentTmpl %}
{% block content %}
		<h1>Les mise à jour XML-RPC</h1>
		Synchroniser :
		<ul>
			<li><a href="/admin/?page=rpcupdate&par=syncpost">Les articles</a></li>
			<li><a href="/admin/?page=rpcupdate&par=synccats">Les categories (nécessite un xmlrpc.php modifié sur votre blog)</a></li>
			<li><a href="/admin/?page=rpcupdate&par=synctags">Les tags</a></li>
			<li><a href="/admin/?page=rpcupdate&par=synccoms">Les commentaires</a></li>
		</ul>
		<textarea style="width:100%;height:300px;">{{texte}}</textarea>
{% endblock %}